.ContainerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90vh;
}

.CardLogin {

    align-items: center;
    padding: 10px;
    border-radius: 10px
}

.tituloCard {
    font-size: 32px;
}