@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Elms Sans", sans-serif;;
}


.btn:not(.ignorar-css-btn) {
   background-color: rgb(244, 207, 255) !important;
   border: none !important;
    color: black !important;
    transition: all 0.5s ease;
}

.btn:hover{
  background-color: rgb(194, 157, 206) !important;
  transition: all 0.5s ease;
  transform: translate(3%, 0%);
}